.App-header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: #4a3;
  height: 70px;
  width: 100%;
  color: white;
  align-content: center;
}

.App-title {
  font-size: 1.5em;
}

.Header-navigation {
  display: flex;
  padding: 0.1rem 5rem;
}
