.App-header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: rgb(80, 130, 80);
  height: auto;
  width: 100%;
  color: white;
  align-content: center;
}

.App-title {
  font-size: 1.5em;
}

.Header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.Navigation-title {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.Navigation-menu {
  margin: 0;
  padding: 0;
}

.Navigation-item {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  list-style: none;
  border: 0 none;
  margin: 0;
  padding: 0;
}


.Navigation-link {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 1.5rem 2rem;
  display: block;
  float: left;
  line-height: 1rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0;
  box-sizing: border-box;
}

.link-selected {
  border-bottom: 2px solid white;
}

.Navigation-link:hover {
  color: black;
}
